/* added page background */
html, body {
    background-color:rgb(255, 255, 255);
}

/* Add a background color to the header element */

#headerid { 
    background-color: cornflowerblue;
   padding: 5px;
}

/* Align the h1 containing your name in the center of the header*/
#head1id {
 margin: 10px 40%;
}

/* styling the additional "about me"  container */
#head2id {
    color: darkslateblue;
}

/* styling class "special" to give paragraphs space from walls */
#special {
  margin: 0 10px;
}

/* Add a fun background color to the main element */
#mainid {
    background-color: azure;
}



/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */
#footid {
 background-color: cornflowerblue;
 padding: 5px;
}

/* reducing the iamage to visible size */
#imageid {
    width: 30%;
    height: 30%;
}