/* added page background */
/* Change the font-family of your list */
html, body {
   background-color: whitesmoke;
    font-family: Open Sans;
}

/* Add a background color to the header element */

#headerid { 
    background-color: cornflowerblue;
   padding: 5px;
}

/* Align the h1 containing your name in the center of the header*/
#head1id {
 text-align: center;
 text-decoration: underline;
}

/* styling the additional "about me"  container */
#head2id {
    color: darkslateblue;
    text-decoration: underline;
}

/* styling class "special" to give paragraphs space from walls */
.special {
  margin: 0 7px;
  padding-bottom: 10px;
}

/* Add a fun background color to the main element */
#mainid {
    background-color: azure;

}

/* Make your p tag a different color and italic */
.ptag {
    color: darkslateblue;
    font-style: italic;
}

/* Add a background color to the footer element */
#footid {
 background-color: cornflowerblue;
 padding: 5px;
}

/* reducing the iamage to visible size */
/* Put a border around your image */
#imageid {
    width: 30%;
    height: 30%;
    border: 3px black solid;
    margin-left: 4px;
}

/* underlining H3 */
#head3id {
    text-decoration: underline;
}